COMPOSE_PROJECT_NAME = graintrack

# Local DB configuration
POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 

# Cloud DB configuration (for syncronization)
CLOUD_POSTGRES_HOST = 
CLOUD_POSTGRES_PORT = 
CLOUD_POSTGRES_USER = 
CLOUD_POSTGRES_PASSWORD = 
CLOUD_POSTGRES_DB = 

JWT_SECRET = # JWT secret key
PORT = 80
CROSS_ENV = # dev | cloud | onsite - environment mode
MIGRATION_VERSION = # number
SYNC_ENABLED = # boolean to enable/disable sync to cloud database process