# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VSCode files
.vscode/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Temporary and cache files
.vite/
.eslintcache
build/
dist/
*/public/

# dotenv environment variables file
.env
.env.test

# docker override file
docker-compose.override.yaml
