 # Database credentials
DB_HOST
DB_PORT
DB_NAME
DB_USER
DB_PASS

API_HOST  # API url. Default: `localhost`
API_PORT  # server port number. Default: 8080

JWT_SECRET # JWT hash secret
SENDGRID_API_KEY  # SendGrid API key

CROSS_ENV  # environment: dev or prod. Default: `prod`
